<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.open.likehelper" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.open.likehelper.base.MyApplication" android:resizeableActivity="true" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="com.open.likehelper.ui.WelcomeActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.open.likehelper.ui.MomentsActivity"/>
        <activity android:name="com.open.likehelper.ui.edit.EditMomentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.open.likehelper.ui.pic.PhotoActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.open.likehelper.ui.pic.PhotoAlbumActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.open.likehelper.ui.pic.PhotoDetailActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.open.likehelper.ui.edit.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.open.likehelper.ui.edit.LocationActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.open.likehelper.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.open.likehelper.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:exported="true" android:name="com.taobao.accs.ChannelService" android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.taobao.accs.data.MsgDistributeService">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <receiver android:name="com.taobao.accs.EventReceiver" android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.taobao.accs.ServiceReceiver" android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO"/>
            </intent-filter>
        </receiver>
        <service android:name="com.taobao.accs.internal.AccsJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":channel"/>
        <service android:name="com.taobao.accs.ChannelService$KernelService" android:process=":channel"/>
        <service android:exported="true" android:name="org.android.agoo.accs.AgooService">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.umeng.message.UmengIntentService" android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.umeng.message.XiaomiIntentService" android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.taobao.agoo.AgooCommondReceiver" android:process=":channel">
            <intent-filter>
                <action android:name="com.open.likehelper.intent.action.COMMAND"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.umeng.message.UmengMessageIntentReceiverService" android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
        </service>
        <receiver android:exported="false" android:name="com.umeng.message.NotificationProxyBroadcastReceiver"/>
        <service android:exported="false" android:name="com.umeng.message.UmengMessageCallbackHandlerService">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.umeng.message.UmengDownloadResourceService"/>
        <provider android:authorities="com.open.likehelper.umeng.message" android:exported="false" android:name="com.umeng.message.provider.MessageProvider">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
    </application>
</manifest>